spring:
  datasource:
    url: jdbc:mysql://localhost:3306/network_simulation?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=true
    username: root
    password: 1234

  data:
    redis:
      host: localhost
      port: 6379
      password:

logging:
  level:
    root: WARN
    com.network.simulation: INFO
