spring:
  datasource:
    url: jdbc:mysql://localhost:3306/network_simulation?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234

  data:
    redis:
      host: localhost
      port: 6379
      password: 123456

logging:
  level:
    root: INFO
    com.network.simulation: DEBUG
